@import url("https://fonts.googleapis.com/css?family=Tangerine");
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif,serif;
    background-color: rgb(119, 90, 90);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.btn-order{
    border: none;
    background-color: #f00;
    color: #fff;
    border-radius: 3px;
    padding: 0px 3px;
}

h1{
    font-family: 'Tangerine',serif;
}

.bakery-icon,.cake-icon,.donut-icon,.coffee-icon,.cooke-icon{
    width: 50px;
    height: 50px;
    -o-object-fit: contain;
       object-fit: contain;
}

#rating{
    color: #00f;
}

.nav{   
    border-bottom: 1px solid grey;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

li{
    line-height: 1.5em;
    width: 200px;
    text-align: center;
}

li:hover{
    cursor:pointer;
}

.side-border{
    border-right: 1px solid;
}

.card{
    /* box-shadow: 2px 1px 5px 1px #000; */
    width: 13rem;
    transition: .3s ease;
    background-color: #ffd209;
}

.card:hover{
    box-shadow: 10px 6px 2px 5px #000;
    transform-origin: center;
    transform:translate(-5px,-5px);
}

.card-img-top{
    max-width: 100%;
    height: 150px;
    -o-object-fit: contain;
       object-fit: contain;
}

/* #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    display: none;
}

#times{
    position: absolute;
    top: 2%;
    right:5%;
    color: #fff;
    z-index: 99;cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: 1.5em;
} */

img:hover{
    cursor: pointer;
}

.createdContainer img{
    max-width: 200px;
    height: 100px;
}

[data-tab-content]{
    display: none;
}

.active[data-tab-content]{
    display: flex;
}

.selected-li{
    color: #f00;
}

.position-sticky{
    z-index: 2;
}

.dolar-price{
    color: rgb(255, 9, 9);
}

#small-screen-icons{
    display: none;
}

/* ////////// */
.card-img-top:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;

  /* When the animation is finished, start again */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -1px) rotate(-1deg); }
  20% { transform: translate(-1px, 0px) rotate(1deg); }
  30% { transform: translate(1px, 1px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 1px) rotate(-1deg); }
  60% { transform: translate(-1px, 1px) rotate(0deg); }
  70% { transform: translate(1px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 1px) rotate(0deg); }
  100% { transform: translate(1px, -1px) rotate(-1deg); }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -1px) rotate(-1deg); }
  20% { transform: translate(-1px, 0px) rotate(1deg); }
  30% { transform: translate(1px, 1px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 1px) rotate(-1deg); }
  60% { transform: translate(-1px, 1px) rotate(0deg); }
  70% { transform: translate(1px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 1px) rotate(0deg); }
  100% { transform: translate(1px, -1px) rotate(-1deg); }
}

p{
    transform-origin: left;
    transform: rotate(10deg);
    font-size: 15px;
    z-index: 99;
    border: 1px groove;
    border-radius: 30px;
    padding: 10px;
    background: linear-gradient(rgb(48, 248, 74),#000);
    -webkit-animation: rotate-specialoffer 1s 5s;
            animation: rotate-specialoffer 1s 5s;
}

@-webkit-keyframes rotate-specialoffer {
    25%{
        transform: rotate(20deg);
    }
    50%{
        transform: rotate(40deg);
    }
}

@keyframes rotate-specialoffer {
    25%{
        transform: rotate(20deg);
    }
    30%{
        transform: rotate(40deg);
    }
    50%{
        transform: rotate(60deg);
    }
    75%{
        transform: rotate(80deg);
    }
    90%{
        transform: rotate(90deg);
    }
    100%{
        opacity: .2;
        transform: translateY(500px);
    }
}
/* ////////// */

@media screen and (max-width:500px) {    
    body{
        font-size: 1rem;
    }

    .nav{
        display:none;
        background-color:rgb(238, 234, 234);
        position: absolute;
        opacity: .9;
        top: 100%;
    }

    .card{
        width: 100%;
        margin-bottom: 5px;
    }

    .card:hover{
        box-shadow: none;
    transform-origin: center;
    transform:translate(0px,0px);
    }
    
    .btn-order{
        color: rgb(253, 253, 253);
        background-color: #f00;
        font-size: 11px;
    }

    .side-border{
        border-right: none;
        min-width: 100%;
        border-bottom: 1px solid rgb(104, 98, 98);
    }

    li:last-child{
        transform: translateX(40%);
    }

    #small-screen-icons{
        display: block;
    }

    .showandhide{
        display: block;
        z-index: -1;
    }
}


